.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.comparison-winner {
  color: darkgreen;
  background-color: lightgreen !important;
}

.comparison-loser {
  color: darkred;
  background-color: lightpink !important;
}

.comparison-tied {
  color: black;
  background-color: white !important;
}

.table-subhead {
  font-weight: bold;
  background-color: #282c34;
  color: white;
}

.comicHeroName {
  font-weight: bolder;
  font-size: xx-large;
  color: red;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
